.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 25vh;
  vertical-align: bottom;
  position: absolute;
  left: 0;
}

.App-header {
  background-color: #0099FF;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  background-color: rgb(180, 39, 39);
  width: 100vw;
  position: absolute;
  left: 0;
}

.App-content {
  font-size: large;
}

.container {
  width: 80%;
  margin-left: 10%;
}

@media screen and (max-width: 680px) {
  .header-title {
    display: none;
  }
}
@media screen and (min-width: 681px) {
  .header-title {
    display: inline-flex;
    vertical-align: text-bottom;
    /* margin-top: 25%; */
  }
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
